{
        "presets": ["env"],
        'plugins': [
                ['babel-plugin-stack-trace-sourcemap', {
                        'importOverride': ['source-map-support', 'install', '_sourceMapSupport'],
                        'execute': true
                }]
        ]
}
